<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="css/leaflet-routing-machine.css" />
  <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
<script src="lib/ionic-material/dist/ionic.material.min.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
  <!-- <script src="cordova.js"></script> -->

  <!-- your app's js -->

  <script type="text/javascript" src="js/superfeedr.js"></script>
  <script stc="js/datahandler.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/controllers.js"></script>

  <script src="js/leaflet-src.js"></script>
  <script src="js/leaflet-routing-machine.js"></script>



</head>
<body ng-app="starter">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Cotswold Water Park</h1>
  </ion-header-bar>

  <ion-tabs class="tabs-balanced">

    <ion-tab title="Map">
      <ion-nav-view>
        <ion-content>
          <div id="map" ng-controller="MapCtrl"></div>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="News" ng-controller="NewsCtrl">
      <ion-nav-view>
        <div class="bar bar-subheader item-input-inset has-footer">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery">
          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>
        <ion-content class="has-subheader">
          <ion-list>
            <div ng-repeat="item in news | filter:searchQuery">
              <ion-item class="item-stable" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">
                <i class="icon" ng-class="isGroupShown(item) ? &apos;ion-minus&apos; : &apos;ion-plus&apos;"></i>
                &#xA0;
                {{item.title}}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isGroupShown(item)">
                <div class="list">
                  <div class="item item-icon-left" href="#" ng-bind-html="item.contentSnippet">

                  </div>

                </div>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Activities" ng-controller="ActivitiesCtrl">
      <ion-nav-view>
        <div class="bar bar-subheader item-input-inset has-footer">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery">
          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>


        <ion-content class="has-subheader">
          <ion-list>
            <div ng-repeat="activity in activities | filter:searchQuery">
              <ion-item class="item-stable" ng-click="toggleGroup(activity)" ng-class="{active: isGroupShown(activity)}">
                <i class="icon" ng-class="isGroupShown(activity) ? &apos;ion-minus&apos; : &apos;ion-plus&apos;"></i>
                &#xA0;
                {{activity.Name}}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isGroupShown(activity)">
                <ion-list>
                  <div class="list">
                    <div>

                      <a class="item item-icon-left" href="#">
                        <i class="icon ion-ios-telephone"></i>
                        {{activity.Number}}
                      </a>
                      <a class="item item-icon-left" href="#">
                        <i class="icon ion-email"></i>
                        {{activity.Email}}
                      </a>
                      <a class="item item-icon-left" href="{{activity.url}}">
                        <i class="icon ion-android-globe"></i>
                        <hyper>{{activity.URL}}</hyper>
                      </a>
                      <a class="item item-icon-left, item item-text-wrap" href="#">
                        <i class="icon ion-information-circled"></i>
                        {{activity.Description}}
                      </a>
                    </div>
                  </div>
                </ion-list>

              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Events" ng-controller="EventsCtrl">
      <ion-nav-view>
        <div class="bar bar-subheader item-input-inset has-footer">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery">
          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>
        <ion-content class="has-subheader">
          <ion-list>
            <div ng-repeat="event in events | filter:searchQuery">
              <ion-item class="item-stable" ng-click="toggleGroup(event)" ng-class="{active: isGroupShown(event)}">
                <i class="icon" ng-class="isGroupShown(event) ? &apos;ion-minus&apos; : &apos;ion-plus&apos;"></i>
                &#xA0;
                {{event.title}}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isGroupShown(event)">
                <div class="list">


                  <div class="item item-icon-left" href="#" ng-bind-html="event.contentSnippet">

                    <i class="icon ion-ios-telephone"></i>
                  </div>
                  <a class="item item-icon-left" href="#">
                    <i class="icon ion-android-globe"></i>
                    {{event.link}}
                  </a>

                </div>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Birds" ng-controller="BirdsCtrl">
      <ion-nav-view>
        <div class="bar bar-subheader item-input-inset has-footer">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery">
          </label>
          <button class="button button-clear">
            Cancel
          </button>

        </div>
        <strong>
          <a class="content" href="https://cotswoldwaterpark.wordpress.com/sightings-or-comments/">
          <button class="button button-fab button-assertive icon ion-android-add">
          </button>
        </a>
        </strong>
        <ion-content class="has-subheader">


          <ion-list>
              <div class="card" href="#" ng-bind-html="bird.contentSnippet" ng-repeat="bird in birds | filter:searchQuery">
            </ion-list>
          </ion-content>

        </ion-nav-view>
      </ion-tab>
    </ion-tabs>

    <script>

    </script>
  </body>
  </html>
